<div style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; display: flex; align-items: center">
  <div style='width: 500px; margin: 0 auto;' class="text-center">
    <p>Speak to your coach</p>
    <form action="/answer" class="form-group" style="width: 200px; margin: 0 auto">
      <input type="text" name="query" class="form-control" style="margin-bottom: 10px">
      <input type="submit" value="Submit" class="btn btn-primary">
    </form>
  </div>
</div>
